azure-cognitiveservices-vision-computervision>=0.9.0
azure-cognitiveservices-language-textanalytics>=0.2.0
azure-cognitiveservices-speech>=1.19.0
requests>=2.27.1
matplotlib>=3.5.1
pillow>=9.0.1
numpy>=1.22.2
pandas>=1.4.1
